span {
    cursor: pointer;
    margin-right: 10px;
}
.updateDetail
{
    color: blue;
}
.deleteDetail
{
    color: red;
}
.search-hero
{
    position: relative;
}
span.search-icon {
    position: absolute;
    right: 8px;
    top: 7px;
}
.heading p {
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 29px;
}